---
import VideoCards from "@/components/VideoCards.astro";
import Layout from "../layouts/Layout.astro";
import Play from "@/components/svg/Play.astro";
---

<Layout>
  <div class="container py-8">
    <h1 class="text-5xl font-bold">videoCards</h1>

    <VideoCards server:defer>
      <div class="flex gap-4 flex-wrap" slot="fallback">
        {
          Array.from({ length : 3 }).map((_, i) => {
            return (
              <div class="border-2 p-4 rounded-sm w-60 h-40 grid place-items-center animate-pulse">
                <Play />
              </div>
            )
          })
        }
      </div>
    </VideoCards>
  </div>
</Layout>
